<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset ="utf-8">
        <meta name ="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
	    <title>Create New Meal</title>
    </head>

    <body>
        <h1>Create new Meal</h1>

        <fieldset>
            <form id="mealCreate" action="/createMeal/submit" method="post">
            <label>Meal Name: <input id="name" name="name" required></label><br>
            <input name="foods" id="foods" type="hidden" value="[">
            <button type="submit">Save Meal</button>
            <!-- <button type="button" id="submitTest" onclick=testSubmit()>Sample submit</button> -->
            </form>
        </fieldset>

        <script>
            window.onsubmit = formatFoods;
            //properly format foods hidden input field
            function formatFoods() {
                const foods = document.getElementById("foods");
                foods.value = foods.value.trim();
                if (foods.value.charAt(foods.value.length - 1) == ',') {
                    foods.value = foods.value.slice(0, foods.value.length - 1);
                }
                foods.value = foods.value + "]";
                return true;
            }

            async function testSubmit() {
                const options = {
                    method:"POST",
                    body: JSON.stringify({
                        name: "testMeal",
                        foods : [
                            170329
                        ]
                    }),
                    headers: { 'Content-Type': 'application/json' }
                }

                await fetch("/createMeal/submit", options);
            }

        </script>

        <h2>Meal Foods</h2>

        <fieldset>
            <legend>Add Food Item</legend>
            <input type="text" id="searchInput" name="query"><br>
            <button id="searchButton" type="button">Search</button>
            <!-- <button id="tester" type="button" data-foodId="1870455" data-foodName="BURG" onclick=addItemToMealCallback(event)>Add to meal</button> -->
            <div id="searchResults"></div>
        </fieldset>
        

        <h3>Current Foods:</h3>
    
        <div id="foodlist"><ol></ol></div>


        <script>
            "use strict";

            //callback for search button
            async function searchFood() {
                const options = {
                    method: "POST",
                    body: JSON.stringify({query: document.querySelector("#searchInput").value}),
                    headers: {
                        "Content-Type": "application/json"
                    }
                };
                const result = await fetch("/search", options);
                if (result.status == 400) {
                    return;
                }

                //array containing all retrieved food items
                const foodArray = await result.json();
                console.log(foodArray);

                const searchDisplay = document.getElementById("searchResults");
                if (foodArray.length == 0) {
                    searchDisplay.innerHTML = "No results found.";
                } else {
                    let display = `<table><thead><th>number</th><th>Food Name</th><th>FDC ID</th><th></th></thead>`;
                    let count = 1;
                    for (const foodObj of foodArray) {
                        display += 
                            `<tr><td>${count++}</td><td>${foodObj.description.trim()}</td><td>${foodObj.fdcId}</td><td>
                            <button id="add${count}" type="button" data-foodid=${foodObj.fdcId} data-foodname=${foodObj.description.trim()} onclick=addItemToMealCallback(event)>Add to meal</button>
                            </td></tr>`;
                    }
                    searchDisplay.innerHTML = display;
                }
            }

            //called by each add button, adds the button's corresponding food item to the meal
            //foods are stored with their FDC ID
            function addItemToMealCallback(e) {
                console.log("attempting to add item to meal");
                const name = e.target.dataset.foodname;
                console.log(e.target.dataset);
                const id = e.target.dataset.foodid;
                const hiddenInput = document.getElementById("foods");
                hiddenInput.value += id + ",";
                const currentFoods = document.getElementById("foodlist");
                console.log(currentFoods.innerHTML);
                let display = currentFoods.innerHTML.slice(0, currentFoods.innerHTML.length - 5);
                
                display += `<li>${name}</li></ol>`;
                currentFoods.innerHTML = display;
            }

            document.getElementById("searchButton").onclick = searchFood;

        </script>

        <a href="/">Back to main menu</a>

    </body>

    

</html>