<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset ="utf-8">
        <meta name ="viewport" content="width=device-width, initial-scale=1.0">
	    <title>Create New Meal</title>
    </head>

    <body>
        <h1>Create new Meal</h1>

        <fieldset>
            <form id="mealCreate">
            <label>Meal Name: <input id="name" name="name"></label><br>
            <input name="foods" type="hidden">
            <button type="submit">Save Meal</button>
            </form>
        </fieldset>

        <h2>Meal Foods</h2>

        <fieldset>
            <legend>Add Food Item</legend>
            <input type="text" id="searchInput" name="query"><br>
            <button id="searchButton" type="button">Search</button>
            <div id="searchResults"></div>
        </fieldset>
        

        <h3>Current Foods:</h3>
    
        <div id="foodlist"></div>


        <script>
            "use strict";

            //callback for search button
            async function searchFood() {
                const options = {
                    method: "POST",
                    body: JSON.stringify({query: document.querySelector("#searchInput").value}),
                    headers: {
                        "Content-Type": "application/json"
                    }
                };
                const result = await fetch("http://localhost:5000/search", options);
                if (result.status == 400) {
                    return;
                }
                const foodArray = await result.json();
                console.log(foodArray);

                const searchDisplay = document.getElementById("searchResults");
                if (foodArray.length == 0) {
                    searchDisplay.innerHTML = "No results found.";
                } else {
                    let display = `<table><thead><th>number</th><th>Food Name</th></thead>`;
                    let count = 1;
                    for (const foodObj of foodArray) {
                        display += `<tr><td>${count++}</td><td>${foodObj.description}</td></tr>`;
                    }
                    searchDisplay.innerHTML = display;
                }
            }

            document.getElementById("searchButton").onclick = searchFood;

        </script>

    </body>

    

</html>