<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset ="utf-8">
        <meta name ="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
	    <title>Create New Meal</title>
    </head>

    <body>
        <h1>Creation confirmation</h1>

        <div style="margin-bottom: 10px;">
            Meal <%= name %> created
        </div>

        <a href="/">Back to main menu</a>
        
    </body>

</html>