<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset ="utf-8">
        <meta name ="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
	    <title>Create New Meal</title>
    </head>

    <body>
        <h1>Create new Meal</h1>

        <fieldset>
            <form id="mealCreate">
            <label>Meal Name: <input id="name" name="name"></label><br>
            <input name="foods" id="foods" type="hidden" value="[">
            <button type="submit">Save Meal</button>
            </form>
        </fieldset>

        <h2>Meal Foods</h2>

        <fieldset>
            <legend>Add Food Item</legend>
            <input type="text" id="searchInput" name="query"><br>
            <button id="searchButton" type="button">Search</button>
            <div id="searchResults"></div>
        </fieldset>
        

        <h3>Current Foods:</h3>
    
        <div id="foodlist">
            <ol></ol>
        </div>


        <script>
            "use strict";
            document.getElementById("foods").value = "[";

            //callback for search button
            async function searchFood() {
                const options = {
                    method: "POST",
                    body: JSON.stringify({query: document.querySelector("#searchInput").value}),
                    headers: {
                        "Content-Type": "application/json"
                    }
                };
                const result = await fetch("http://localhost:5000/search", options);
                if (result.status == 400) {
                    return;
                }

                //array containing all retrieved food items
                const foodArray = await result.json();
                console.log(foodArray);

                const searchDisplay = document.getElementById("searchResults");
                if (foodArray.length == 0) {
                    searchDisplay.innerHTML = "No results found.";
                } else {
                    let display = `<table><thead><th>number</th><th>Food Name</th><th>FDC ID</th></thead>`;
                    let count = 1;
                    for (const foodObj of foodArray) {
                        console.log(foodObj.foodNutrients);
                        display += 
                            `<tr><td>${count++}</td><td>${foodObj.description}</td><td>${foodObj.fdcId}</td>
                            <button data-foodId=${foodObj.fdcId} data-foodName=${foodObj.description} onclick=addItemToMealCallback>Add to meal</button></tr>`;
                    }
                    searchDisplay.innerHTML = display;
                }
            }

            //called by each add button, adds the button's corresponding food item to the meal
            function addItemToMealCallback(event) {
                const name = event.target.dataset.foodName;
                const id = event.target.dataset.foodId;
                const hiddenInput = document.getElementById("foods");
                hiddenInput.value += id + ",";
                const currentFoods = document.getElementById("foodlist");
                let display = currentFoods.innerHTML.slice(0, currentFoods.innerHTML.length - 5);
                display += `<li>${name}</li></ol>`;
            }

            document.getElementById("searchButton").onclick = searchFood;

        </script>

    </body>

    

</html>