<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset ="utf-8">
        <meta name ="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
	    <title>View Existing Meals</title>
    </head>

    <body>
        <h1>Created Meals: </h1>

        <div id="mealList" style="margin-bottom: 10px;">
            <%-listHtml%>
        </div>

        <a href="/">Back to main menu</a>

    </body>

</html>