body {
    font-family: "Montserrat", sans-serif;
    background-color: darkgrey;
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
}

legend {
    color:aliceblue;
    font-size: 18px;
}

fieldset {
    border-color: gray;
}

.searchTable{
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

