:root {
    --bg: #3E3939;
    --text-default: #E6FDFF;
    --link: #FF8C42;
    --visited: #dbc253;
    --button-bg: #6C8EAD;
    --large-text: 18pt;
}

body {
    font-family: "Montserrat", sans-serif;
    color: var(--text-default);
    background-color: var(--bg);
}

.large-text {
    font-size: var(--large-text);
}

a {
    color: var(--link);
}

a:visited {
    color: var(--visited);
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
}

legend {
    color:aliceblue;
    font-size: 18px;
}

fieldset {
    border-color: var(--text-default);

}

button {
    border-radius: 8px;
    border-style: none;
    background-color: var(--button-bg);
    text-align: center;
    color: var(--text-default);
    padding: 10px 10px 10px 10px;
}

.delete {
    background-color: red;
}

.searchTable{
    border-style: solid;
    border-color: gray;
    border-width: 2px;
}

